body{
    margin: 0;
    padding: 0;
    background-color: #E4E9ED;
}
.perfil{
    height: 100px;
    border-radius: 60px;
    padding: 10px;
}
p{
    color: #000D13;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: #000D13;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    opacity: 0.9;
    display: flex; 
}
h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lateral{
    background: #3a4893;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 16%;
}
.extencion{
    width:20%;
    background: #3a4893;
}

a{
    color: white;
    text-decoration: none;
}
li{
    margin-top: 40%;
}

ul{
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    
}
.contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.about{
    display: flex;
    flex-direction: column;
}
.item-img{
    height: 100px;
}
.Portafolio{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 200px;
}
.item a{
    margin-left: 10px; 
}

.item-skills{
 height: 70px;
}

.item a :hover{
    height: 110px;
    
}
.skills{
    display: block;
    text-align: center;
    height: 200px;
}

.skills img{
    height: 50px;
    border-radius: 10%;
}

.skills img:hover{
    
    height: 60px;
}
.secciones a:hover{
    color: #7ea1dc;
    padding: 2px;
}

.form{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.form .input{
    margin-top: 0.2%;
    border-radius: 5px;
    height: 20px;
    width: 80%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textarea{
    margin-top: 0.2%;
    margin-bottom: 20px;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer p{
    color: white;
}
label{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
